.hero {
  position: relative;
  &__inner {
    position: relative;
    display: flex;
    border-radius: 0 100px 100px 0;
    overflow: hidden;
    &-bg {
      padding-bottom: 52%;
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      min-height: 472px;
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
      }
    }
    &-content {
      width: 50%;
      display: flex;
      align-items: center;
      background-color: $main;
      padding: 40px 80px;
      &.light {
        background-color: #f7f8fb;
      }
      &.blue {
        background-color: #557caa;
        padding-right: 40px;
      }
    }
    &-title {
      color: $white;
      h2 {
        margin-bottom: 15px;
      }
    }
    &-buttons {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -16px;
    }
    &-image {
      position: relative;
      padding-bottom: 75%;
      width: 100%;
      height: 100%;
      &.big {
        padding-bottom: 104%;
      }
      &-wrapper {
        width: 50%;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
      }
    }
    &-title {
      max-width: 494px;
    }
    h1 {
      width: 100%;
      text-align: center;
      color: $white;
    }
    .button {
      margin: 16px;
    }
  }
}
// 1180px
@mixin hero-xlg-xxlg {
  .hero {
    &.big {
      .auto__container {
        padding-left: 0;
      }
    }
    &__inner {
      border-radius: 0 70px 70px 0;
      &-content {
        padding: 40px 55px;
      }
      &-image {
        min-height: 340px;
        &.big {
          padding-bottom: 110%;
        }
      }
      &-title {
        h2 {
          font-size: 20px;
          line-height: 32px;
        }
      }
      &-buttons {
        margin: 0 -12px;
      }
      .button {
        margin: 12px;
      }
    }
  }
}
// 930px
@mixin hero-md-lg {
  .hero {
    .auto__container {
      padding-left: 0;
    }
    &__inner {
      &-content {
        width: calc(54%);
      }
      &-image {
        &-wrapper {
          width: 46%;
        }
      }
      &-title {
        h2 {
          font-size: 18px;
          line-height: 28px;
        }
      }
      h1 {
        text-align: start;
      }
      &-buttons {
        margin: 0 -8px;
      }
      .button {
        margin: 8px;
      }
    }
  }
}
// 840px
@mixin hero-md-lg-extra {
  .hero {
    &__inner {
      border-radius: 0 50px 50px 0;
      &-image {
        &.big {
          padding-bottom: 124%;
        }
      }
    }
  }
}
// 750px
@mixin hero-sm-md {
  .hero {
    &__inner {
      &-image {
        &-wrapper {
          width: 50%;
        }
      }
      &-content {
        width: 50%;
        padding: 30px 26px;
        &.blue {
          padding-right: 26px;
        }
      }
      &-title {
        h2 {
          font-size: 16px;
          line-height: 22px;
        }
      }
      &-buttons {
        margin: 0 -5px;
      }
      .button {
        margin: 8px 5px;
      }
    }
  }
}
// 650px
@mixin hero-sm-md-extra {
  .hero {
    &__inner {
      flex-direction: column;
      &-content {
        width: 100%;
        padding: 90px 26px 40px 26px;
        margin-top: -50px;
    
      }
      &-image {
        border-radius: 0 50px 50px 0;
        overflow: hidden;
        &.big {
          padding-bottom: 75%;
        }
        &-wrapper {
          width: 100%;
          order: -1;
        }
      }
      &-title {
        padding-top: 20px;
        h2 {
          font-size: 18px;
          line-height: 29px;
        }
      }
      &-buttons {
        margin: 0 -10px;
      }
      .button {
        margin: 10px;
      }
      h1 {
        text-align: start;
        padding: 10px 0;
      }
    }
  }
}
.practice {
  &__inner {
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &-content {
      width: 50%;
      padding-left: 25px;
      h2 {
        margin-bottom: 35px;
      }
      p {
        margin-bottom: 55px;
      }
    }
    &-text {
      position: relative;
      max-width: 588px;
      padding: 60px 0 140px;
    }
    &-image {
      width: 100%;
      position: relative;
      padding-bottom: 150%;
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100px;
        border: 1px solid $red;
        content: "";
        transform: translate(-140px, 100px);
        pointer-events: none;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
        border-radius: 100px;
      }
      &-wrapper {
        width: calc(50% - 50px);
        max-width: 540px;
        padding: 0 0 100px 140px;
        display: flex;
      }
    }
  }
  .stamp {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
// 1180px
@mixin practice-xlg-xxlg {
  .practice {
    &__inner {
      &-image {
        &::before {
          transform: translate(-90px, 66px);
          border-radius: 70px;
        }
        &-wrapper {
          padding: 0 0 66px 90px;
        }
        img {
          border-radius: 70px;
        }
      }
      &-content {
        padding: 0;
        p {
          margin-bottom: 60px;
        }
      }
      &-text {
        padding: 0;
      }
    }
    .stamp {
      width: 122px;
      height: 122px;
    }
  }
}
// 1024px
@mixin practice-lg-xlg {
  .practice {
    &__inner {
      &-image {
        &-wrapper {
          width: calc(45% - 35px);
          max-width: 345px;
        }
      }
      &-content {
        width: calc(55% - 35px);
        max-width: 457px;
      }
    }
  }
}
// 930px
@mixin practice-md-lg {
  .practice {
    &__inner {
      &-image {
        &::before {
          transform: translate(-75px, 56px);
        }
        &-wrapper {
          width: calc(35% - 35px);
          padding: 0 0 56px 0;
        }
        img {
          border-radius: 50px;
        }
      }
      &-content {
        width: calc(65% - 35px);
        h2 {
          margin-bottom: 25px;
        }
      }
    }
  }
}
// 750px
@mixin practice-sm-md {
  .practice {
    &__inner {
      &-image {
        &-wrapper {
          width: calc(35% - 20px);
        }
      }
      &-content {
        width: calc(65% - 20px);
      }
    }
  }
}
// 650px
@mixin practice-sm-md-extra {
  .practice {
    &__inner {
      &-row {
        flex-direction: column;
      }
      &-image {
        &-wrapper {
          width: 100%;
          padding: 0 0 50px 70px;
        }
        &::before {
          transform: translate(-70px, 50px);
          border-radius: 50px;
        }
      }
      &-content {
        width: 100%;
        max-width: unset;
        padding-top: 50px;
        p {
          margin-bottom: 35px;
        }
      }
    }
    .stamp {
      width: 86px;
      height: 86px;
    }
  }
}
// 540px
@mixin practice-xsm-sm {
  .practice {
    &__inner {
      &-image {
        &-wrapper {
          max-width: 264px;
        }
      }
      &-content {
        h2 {
          margin-bottom: 20px;
        }
        p {
          margin-bottom: 30px;
        }
      }
    }
  }
}
.service {
  padding: 125px 0 110px;
  &__inner {
    &-title {
      text-align: center;
      max-width: 618px;
      margin: 0 auto 100px;
      h2 {
        margin-bottom: 24px;
      }
    }
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 124px;
      &:last-child {
        margin: 0;
      }
    }
    &-content {
      width: calc(50% - 56px);
      max-width: 590px;
      h2 {
        margin-bottom: 32px;
      }
    }
    &-text {
      margin-bottom: 20px;
    }
    &-image {
      position: relative;
      width: 100%;
      padding-bottom: 106%;
      border-radius: 100px 0 0 100px;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
      }
      &-wrapper {
        width: 50%;
        &.rev {
          .service__inner-image {
            border-radius: 0 100px 100px 0;
          }
        }
      }
      .stamp {
        position: absolute;
        bottom: 6%;
        right: 7%;
      }
    }
    &-links {
      margin: 0 -12px;
      display: flex;
      flex-wrap: wrap;
      a {
        display: flex;
        font-size: 16px;
        line-height: 100%;
        font-weight: 700;
        color: $main;
        padding: 13px 25px;
        border: 1px solid $red;
        margin: 12px;
        border-radius: 100px;
        &:hover {
          opacity: 1;
          background-color: $red;
          color: $white;
        }
      }
    }
  }
}
// 1180px
@mixin service-xlg-xxlg {
  .service {
    .auto__container {
      padding: 0;
    }
    &__inner {
      &-row {
        margin-bottom: 100px;
      }
      &-content {
        padding-left: 55px;
        &.rev {
          padding: 0 55px 0 0;
        }
        h2 {
          margin-bottom: 24px;
        }
      }
      &-links {
        margin: 0 -10px;
        a {
          font-size: 14px;
          margin: 10px;
          padding: 12px 22px;
        }
      }
    }
  }
}
// 1024px
@mixin service-lg-xlg {
  .service {
    padding: 170px 0 90px;
    &__inner {
      &-image {
        padding-bottom: 146%;
        border-radius: 70px 0 0 70px;
        &-wrapper {
          &.rev {
            .service__inner-image {
              border-radius: 0 70px 70px 0;
            }
          }
        }
      }
    }
  }
}
// 930px
@mixin service-md-lg {
  .service {
    &__inner {
      &-row {
        position: relative;
      }
      &-image {
        padding-bottom: 0;
        border-radius: 50px 0 0 50px;
        height: 346px;
        &-wrapper {
          position: absolute;
          top: 0;
          right: 0;
          &.rev {
            right: unset;
            left: 0;
            .service__inner-image {
              border-radius: 0 50px 50px 0;
            }
          }
        }
        .stamp {
          width: 73px;
          height: 73px;
          right: 13%;
          bottom: 11%;
        }
      }
      &-content {
        width: 100%;
        max-width: unset;
        padding: 0 55px;
        &.rev {
          padding: 0 55px;
          .service__inner-text {
            margin: 0 0 0 auto;
          }
        }
      }
      &-text {
        width: calc(50% - 70px);
        min-height: 346px;
        margin: 0;
      }
      &-links {
        margin-top: 50px;
      }
    }
  }
}
// 840px
@mixin service-md-lg-extra {
  .service {
    &__inner {
      &-text {
        width: calc(50% - 45px);
        max-width: 290px;
      }
    }
  }
}
// 750px
@mixin service-sm-md {
  .service {
    &__inner {
      &-title {
        padding: 0 26px;
      }
      &-content {
        padding: 0 26px;
        &.rev {
          padding: 0 26px;
        }
      }
    }
  }
}
// 650px
@mixin service-sm-md-extra {
  .service {
    padding: 106px 0 60px;
    &__inner {
      &-title {
        text-align: start;
        margin-bottom: 50px;
      }
      &-row {
        flex-direction: column;
        margin-bottom: 70px;
      }
      &-image {
        padding-bottom: 80%;
        &-wrapper {
          width: 100%;
          position: relative;
          order: -1;
          padding-left: 26px;
          margin-bottom: 45px;
        }
      }
      &-text {
        width: 100%;
        max-width: unset;
        min-height: unset;
      }
      &-links {
        a {
          font-size: 12px;
          margin: 7px 5px;
          padding: 12px 17px;
        }
      }
    }
  }
}