.team {
  padding: 120px 0 135px;
  &__inner {
    width: calc(100% - 110px);
    max-width: 1220px;
    margin: 0 auto;
    &-title {
      max-width: 968px;
      margin: 0 auto 60px;
      text-align: center;
    }
    &-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -60px;
    }
  }
  &Item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 60px;
    width: calc(33.3% - 120px);
    &__image {
      position: relative;
      width: 100%;
      border-radius: 100px;
      padding-bottom: 150%;
      overflow: hidden;
      &-wrapper {
        width: 100%;
        margin-bottom: 54px;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        @include fullImage;
      }
    }
    h2 {
      margin-bottom: 20px;
      line-height: 35px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
    p {
      line-height: 22px;
    }
  }
}
// 1380px
@mixin team-xxxlg-xxxxlg {
  .team {
    padding: 90px 0;
    &__inner {
      &-row {
        margin: 0 -30px;
      }
      &-title {
        margin-bottom: 50px;
      }
    }
    &Item {
      width: calc(33.3% - 60px);
      margin: 35px 30px;
    }
  }
}
// 1180px
@mixin team-xlg-xxlg {
  .team {
    &__inner {
      &-title {
        h2 {
          font-size: 20px;
          line-height: 32px;
        }
      }
    }
    &Item {
      &__image {
        border-radius: 70px;
        &-wrapper {
          margin-bottom: 40px;
        }
      }
      h2 {
        font-size: 20px;
        line-height: 25px;
      }
    }
  }
}
// 1024px
@mixin team-lg-xlg {
  .team {
    &__inner {
      width: 100%;
      max-width: 804px;
    }
  }
}
// 930px
@mixin team-md-lg {
  .team {
    &__inner {
      &-row {
        margin: 0 -25px;
      }
      &-title {
        margin-bottom: 50px;
      }
    }
    &Item {
      width: calc(33.3% - 50px);
      margin: 35px 25px;
      &__image {
        border-radius: 50px;
        &-wrapper {
          margin-bottom: 35px;
        }
      }
    }
  }
}
// 750px
@mixin team-sm-md {
  .team {
    &__inner {
      &-row {
        margin: 0 -15px;
      }
    }
    &Item {
      width: calc(50% - 30px);
      margin: 25px 15px;
    }
  }
}
// 540px
@mixin team-xsm-sm {
  .team {
    padding: 65px 0;
    &__inner {
      &-title {
        text-align: start;
        h2 {
          font-size: 18px;
          line-height: 29px;
        }
      }
      &-row {
        margin: 0;
      }
    }
    &Item {
      width: 100%;
      max-width: unset;
      flex-direction: row;
      align-items: center;
      margin: 0 0 40px 0;
      &:nth-child(n + 4) {
        .teamItem__image {
          padding-bottom: 100%;
          border-radius: 50%;
        }
      }
      &:nth-child(3) {
        margin-bottom: 85px;
      }
      &:last-child {
        margin: 0;
      }
      &__image {
        padding-bottom: 132%;
        &-wrapper {
          width: calc(45% - 18px);
          margin: 0;
        }
        img {
          object-position: top;
        }
      }
      &__content {
        width: calc(55% - 18px);
        text-align: start;
      }
      h2 {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
        justify-content: flex-start;
      }
    }
  }
}